* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.info {
	width: 296px;
	height: 56px;
	border-radius: 4px;
	padding: 16.5px 14px;
	border: 1px solid #ccc !important;
	margin: 8px 0;
}

.notes {
	width: 650px;
	height: 184px;
	padding: 16.5px 14px;
	overflow-x: hidden;
	border-radius: 4px;
	border: 1px solid #ccc !important;
	margin: 8px 0;
}
.info-list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.edit-page {
	width: 650px;
	padding-top: 4%;
	margin: auto;
}
.test:active {
	display: none;
}
